<style>
    form{
        width: 35vw;
    }
</style>
<form id="player-form" class="bg-white p-3 rounded-2">

    <div class="d-flex justify-content-center">
        <img class="text-center" src="../../assets/ultralaboratorios.png" alt="">
    </div>

    <h5 class="text-center">Ingresa tus datos para jugar</h5>

    <div class="mb-3 ">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre">
    </div>
    <div class="mb-3">
        <label for="sucursal" class="form-label">Sucursal</label>
        <input type="text" class="form-control" name="sucursal" id="sucursal">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">Email</label>
        <input type="email" class="form-control" name="tel" id="tel">
    </div>
    
    <div class="d-flex justify-content-center">
        <button type="submit" style="width: 50%;" class="btn btn-primary text-center">Guardar</button>        
    </div>

</form>